html {
    width: 100vw;
}

body {
    width: 100%;
}

#searchBar {
    width: 100%;
    border-color:#345DA8;
    border-radius: 20px;
    text-align: center;
    color: #345DA8;
}

#searchBarLogo {
    position: relative;
    top: -26px;
    left: 5px;
    width: 25px;
}

#navigBar {
    position: fixed;
    bottom: 0px; 
    left: 0px;
    height: 50px;
    padding: 5px;
    width: 100%;
    background-color: #FE835A;
}

#navigBar .col {
    display: flex;
    justify-content: center;
}

.navIcon {
    width:40px;
}

#head-section {
    position: sticky;
    top: 0px; 
    left: 0px;
    height: fit-content;
    padding: 1em;
    width: 100%;
    background-color: #E94E1B;
}

.btn_submit {
    background-color: white !important;
    color: #E94E1B !important;
    font-weight: bold !important;
    border-radius: 50px !important;
    width: 100px;
    height: 26px;
    font-size: 14px;
    justify-content: center;
    border: none;
}

.btn-don {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3, h6 {
    color: #345DA8;
}

.rayons {
    margin-top: -20px;
}

.rayon {
    width: 100%;
    height: 120px;

    background-size: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

#rayonNum1 {
    background-image: url("../images/aliments.jpg");
}

#rayonNum2 {
    background-image: url("../images/rayons/produits_laitiers.jpg");
}

#rayonNum3 {
    background-image: url("../images/rayons/conserves.jpg");
}

#rayonNum4 {
    background-image: url("../images/rayons/produits_secs.jpg");
}

#rayonNum5 {
    background-image: url("../images/rayons/hygiene.png");
    background-position: center;
}

#rayonNum6 {
    background-image: url("../images/rayons/produits_entretien.png");
    background-position: center;
}

#rayonNum7 {
    background-image: url("../images/rayons/animalerie.jpeg");
    background-position: center;
}

#rayonNum8 {
    background-image: url("../images/rayons/boissons_non_alcool.png");
}

.rayon .image {
    height: 75%;
}

.rayon img {
    width: 100%;
    border-radius: 10px;
}

.rayon .title {
    height: 25%;
    background: linear-gradient(transparent, red);
}

.rayon .title h6 {
    color: white !important;
}

#head-section-bis {
    position: sticky;
    top: 0px; 
    left: 0px;
    height: fit-content;
    padding: 1em;
    width: 100%;
}

#head-section-bis.red {
    background-color: #E94E1B;
}

#head-section-bis.white {
    background-color: white;
}

#head-section-bis a {
    display: block;
    width: fit-content;
    height: 46px;
}

.noSearch {
    visibility: hidden;
    height: 0px;
    margin-bottom: 0px !important;
}

.btnModifProfil {
    background-color: #E94E1B !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 50px !important;
    width: 200px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.iconButton {
    margin-right: 5px;
}

.menu {
    display: flex;
    align-items: center;
}

.material-icons.orangeIcon {
    color: #FE835A;
    font-size: 46px;
}

#ecranChargement {
    position: absolute;
    top: 0px;
    height: 100%;
    display: none;
}

.allContent {
    visibility: hidden;
}

.imgContainer {
    width: 100%;
    height: 100px;
    background-image: url('../images/no_image.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 0;
}
.productContainer {
    margin-bottom: 1rem;
    width: 110px;
}
.productContainer .titleProduct {
    font-size: 12px;
    color: #345DA8;
    display: flex;
    justify-content: center;
    margin: 0;
    text-align: center;
}
.productContainer .titleProduct p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
}
.buttonProduct {
    display: flex;
    justify-content: center;
}
.buttonProduct button {
    width: 70%;
    background-color: #345DA8;
    border: none;
    border-radius: 10px;
    color: white;
}

.inputRow {
    color: white;
}
.inputRow > input {
    background-color: transparent;
    border: none;
    color: white;
}
.inputRow > input:focus {
    outline: none !important;
}